// 变量
$navHeight: 64px;
// 常量，版心宽度
$pageWidth: 1170px;
// 轮播图宽度
$mainBoxWidth: 798px;
// 侧边栏宽度
$sidebarWidth: 356px;
// 主题颜色
$themeColor: #5c87d9;
// 主要字体颜色
$mainFontColor: #212121;
// 辅助字体颜色
$assistFontColor: #878787;
// 线条颜色
$lineColor: #eeeeee;

$bannerWidth: $mainBoxWidth;
$bannerHeight: 202px;
