@import "init.scss";
@import "constants.scss";


.header {
    width: 100%;
    height: $navHeight;
    background: #3a3a3a;
    // 将头部固定在顶部
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    // 透明度opacity
    //opacity: 0.5;
    // 可以将内容置于头部下方
    z-index: 100;

    .container {
        width: $pageWidth;
        height: 100%;
        // 居中
        margin: 0 auto;
        //上面指定宽高度就不需要overflow
        //overflow: hidden;

        .logo-box {
            width: 140px;
            height: 49px;
            // 图片链接
            background: url("https://www.xfz.cn/static/build/images/logo.png") no-repeat;
            // 若只使用margin-top,则会导致外面的盒
            // 子浮动塌陷,外面盒子就要清除浮动塌陷,
            // 故在container内添加overflow:hidden;
            margin-top: 8px;
            // 让logo盒子左浮动，这样导航条才能显示出来
            float: left;

            a {
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        .nav {
            margin-left: 128px;
            float: left;

            li {
                float: left;
                margin-right: 40px;
                // 让导航条字体行高等于头部高度,字体就会居中
                line-height: $navHeight;
                height: $navHeight;
                // 边框显示在里面(border-box)
                box-sizing: border-box;

                a {
                    color: #fff;
                }

                &.active {
                    // 导航条选中的模块底部边框,solid显示实线,颜色$themeColor
                    border-bottom: 5px solid $themeColor;
                }
            }
        }

        .auth-box {
            float: right;
            line-height: $navHeight;
            height: $navHeight;
            color: #fff;
            position: relative;

            .iconfont {
                color: #fff;
                font-size: 20px;
            }

            // 字体只有在a标签内设置才有效果
            // 在a标签外设置没效果
            a {
                color: #fff;
            }

            .user-more-box {
                background: #fff;
                width: 140px;
                //height: 90px;
                position: absolute;
                box-shadow: 0 3px 4px #ccc;
                border-radius: 5px;
                top: 65px;
                left: 50%;
                margin-left: -70px;
                font-size: 14px;
                z-index: 2;
                display: none;

                .triangle {
                    border: solid transparent;
                    border-width: 10px;
                    border-bottom-color: #fff;
                    display: block;
                    width: 0;
                    height: 0;
                    margin-top: -20px;
                    margin-left: 60px;
                }

                a {
                    text-align: center;
                    height: 44px;
                    color: #6d85ac!important;
                    display: block;
                    line-height: 44px;
                }
            }
        }
    }
}