<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../dist/css/index.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_687968_fzr0p30fuws46lxr.css">
    <script src="../../dist/js/jquery-3.3.1.min.js"></script>
    <script src="../../dist/js/index.min.js"></script>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logo-box">
                <a href="/"></a>
            </div>

            <ul class="nav">
                <li class="active"><a href="/" style="text-decoration: none">创投资讯</a></li>
                <li><a href="#" style="text-decoration: none">创业课堂</a></li>
                <li><a href="#" style="text-decoration: none">付费资讯</a></li>
                <li><a href="#" style="text-decoration: none">搜索</a></li>
            </ul>

            <div class="auth-box">
                <i class="icon-person iconfont"></i>
                <a href="#" style="text-decoration: none">登录</a>&nbsp;/
                <a href="#" style="text-decoration: none">注册</a>
            </div>
        </div>
    </header>

    <div class="main">
        <div class="wrapper">
            <div class="news-wrapper">
                <div class="banner-group" id="banner-group">
                    <ul class="banner-ul" id="banner-ul">
                        <li><a href="#"><img src="https://static-image.xfz.cn/1523588994_243.jpg" alt=""></a></li>
                        <li><a href="#"><img src="https://static-image.xfz.cn/1523504442_455.png" alt=""></a></li>
                        <li><a href="#"><img src="https://static-image.xfz.cn/1521444982_469.jpg" alt=""></a></li>
                        <li><a href="#"><img src="https://static-image.xfz.cn/1522742329_629.png" alt=""></a></li>
                        <li><a href="#"><img src="https://static-image.xfz.cn/1525669927_166.jpg" alt=""></a></li>
                    </ul>
                    <span class="arrow left-arrow">‹</span>
                    <span class="arrow right-arrow">›</span>
                    <div class="page-control-group">
                        <ul class="page-control">
                        </ul>
                    </div>
                </div>
                <div class="list-outer-group">
                    <ul class="list-tab">
                        <li class="active"><a href="#" style="text-decoration: none">最新资讯</a></li>
                        <li><a href="#" style="text-decoration: none">热点</a></li>
                        <li><a href="#" style="text-decoration: none">深度报道</a></li>
                        <li><a href="#" style="text-decoration: none">干货分享</a></li>
                        <li><a href="#" style="text-decoration: none">投资人说</a></li>
                    </ul>
                    <ul class="list-inner-group">
                        <li>
                            <div class="thumbnail-group">
                                <a href="#">
                                    <img src="https://static-image.xfz.cn/1527852557_805.jpg-website.news.list" alt="">
                                </a>
                            </div>
                            <div class="news-group">
                                <p class="title">
                                    <a href="#" style="text-decoration: none">牵手小猪佩奇，这家公司要用动画书抢占儿童阅读市场</a>
                                </p>
                                <p class="desc">2016年年底，儿童数字阅读平台咿啦看书迎来了最困难的时刻</p>
                                <p class="more">
                                    <span class="category">深度报道</span>
                                    <span class="pub-time">1小时前</span>
                                    <span class="author">carl</span>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="thumbnail-group">
                                <a href="#">
                                    <img src="https://static-image.xfz.cn/1527850628_448.jpg-website.news.list" alt="">
                                </a>
                            </div>
                            <div class="news-group">
                                <p class="title">
                                    <a href="#" style="text-decoration: none">618前夕封杀“淘口令”，微信淘宝再度上演猫鼠游戏</a>
                                </p>
                                <p class="desc">淘口令是阿里2015年6月17日正式对外发布的一个功能</p>
                                <p class="more">
                                    <span class="category">热点</span>
                                    <span class="pub-time">2小时前</span>
                                    <span class="author">carl</span>
                                </p>
                            </div>
                        </li>
                    </ul>
                    <div class="load-more-group">
                        <button class="load-more">查看更多</button>
                    </div>
                </div>
            </div>
            <div class="sidebar-wrapper"></div>
        </div>
    </div>
</body>
</html>